.header {
    min-height: 1000px;
    color: #ffffff;
    background:  -webkit-gradient( linear, left bottom, left top, from(rgba(252,227,138, 0.9)), to(rgba(243,129,129, 0.9))), url(../images/vulture.jpg);
    background:  -o-linear-gradient( bottom, rgba(252,227,138, 0.9) 0%, rgba(243,129,129, 0.9) 100%), url(../images/vulture.jpg);
    background:  linear-gradient( 0deg, rgba(252,227,138, 0.9) 0%, rgba(243,129,129, 0.9) 100%), url(../images/vulture.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__discription {
        font-family: 'Kaushan Script', sans-serif ;
        font-size: 72px;
        line-height: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0;
        padding: 0;
        padding-top: 150px;
        margin-bottom: 60px;
    }
    &__title {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 150px;
        line-height: 0.933;
        font-weight: 700;
        margin: 0 auto; 
        text-align: center;
        width: 820px;
    }
    &__button {
        display: block;
        margin: 0 auto;
        outline: none;
        border: 3px solid  rgb(255, 255, 255);
        width: 160px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0);
        font-family: 'montserat', sans-serif;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        text-transform: uppercase;
        color: #ffffff;
        cursor: pointer;
    }
@media (-webkit-min-device-pixel-ratio: 2 ), (-o-min-device-pixel-ratio: 2/1 ), (min-resolution: 192dpi ) {
    .header {
        background:  -webkit-gradient( linear, left bottom, left top, from(rgba(252,227,138, 0.9)), to(rgba(243,129,129, 0.9))), url(../images/vulture@2x.jpg);
        background:  -o-linear-gradient( bottom, rgba(252,227,138, 0.9) 0%, rgba(243,129,129, 0.9) 100%), url(../images/vulture@2x.jpg);
        background:  linear-gradient( 0deg, rgba(252,227,138, 0.9) 0%, rgba(243,129,129, 0.9) 100%), url(../images/vulture@2x.jpg);
    }    
}
}

.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    &__list {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-width: 620px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    &__list :hover {
        color:  rgb(252, 227, 138);
        -webkit-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }

    &__link {
        color: #ffffff;
        font-family: 'Montserrat', sans-serif ;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        position: relative;
    }
    &__list :hover ::after {
        content: '';
        display: block;
        height: 4px;
        width: 100%;
        background-color: rgb(252, 227, 138);
        -webkit-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
        margin: 0 auto; 
        margin-top: 10px;
        position: absolute;
    }
    &__svg {
        width: 18px;
        height: 15px;
        fill: #ffffff;
    }
    &__list :hover .main-nav__svg {
        fill: rgb(252, 227, 138);
        -webkit-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }
}

.logo {
    font-family: 'Montserrat', sans-serif ;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
}


// .main-nav__list {
//     margin: 0;
//     padding: 0;
//     text-transform: uppercase;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     min-width: 620px;
//     -webkit-box-pack: justify;
//         -ms-flex-pack: justify;
//             justify-content: space-between;


// }

// .main-nav__link {
//     color: #ffffff;
//     font-family: 'Montserrat', sans-serif ;
//     font-size: 14px;
//     line-height: 17px;
//     font-weight: 400;
//     position: relative;
// }

// .main-nav__list :hover {
//     color:  rgb(252, 227, 138);
//     -webkit-transition: all 0.5s linear;
//     -o-transition: all 0.5s linear;
//     transition: all 0.5s linear;
// }

// .main-nav__list :hover ::after {
//     content: '';
//     display: block;
//     height: 4px;
//     width: 100%;
//     background-color: rgb(252, 227, 138);
//     -webkit-transition: all 0.5s linear;
//     -o-transition: all 0.5s linear;
//     transition: all 0.5s linear;
//     margin: 0 auto; 
//     margin-top: 10px;
//     position: absolute;
// }

// .main-nav__svg {
//     width: 18px;
//     height: 15px;
//     fill: #ffffff;
// }

// .main-nav__list :hover .main-nav__svg {
//     fill: rgb(252, 227, 138);
//     -webkit-transition: all 0.5s linear;
//     -o-transition: all 0.5s linear;
//     transition: all 0.5s linear;
// }

// .header__discription {
//     font-family: 'Kaushan Script', sans-serif ;
//     font-size: 72px;
//     line-height: 30px;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-pack: center;
//         -ms-flex-pack: center;
//             justify-content: center;
//     margin: 0;
//     padding: 0;
//     padding-top: 150px;
//     margin-bottom: 60px;
    
// }

// .header__title {
//     font-family: 'Montserrat', sans-serif;
//     text-transform: uppercase;
//     font-size: 150px;
//     line-height: 0.933;
//     font-weight: 700;
//     margin: 0 auto; 
//     text-align: center;
//     width: 820px;
// }

.button-div {
    padding: 115px 0 230px 0;
}

// .header__button {
//     display: block;
//     margin: 0 auto;
//     outline: none;
//     border: 3px solid  rgb(255, 255, 255);
//     width: 160px;
//     height: 40px;
//     background-color: rgba(255, 255, 255, 0);
//     font-family: 'montserat', sans-serif;
//     font-size: 14px;
//     line-height: 24px;
//     font-weight: 600;
//     text-transform: uppercase;
//     color: #ffffff;
//     cursor: pointer;
// }