html {
    box-sizing: border-box;
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
img {
    display: block;
    min-width: 100%;
    height: auto;
}

/* header */
